<% layout('layouts/boilerplate') %>

<!-- About Us -->
<section>
  <div class="container">
    <!-- Welcome Text -->
    <div class="text-center">
      <!-- Cafe Name -->
      <h1 class="display-2">About Us</h1>
      <!-- Cafe Slogan -->
      <div class="coffeeImage">
        <img src="/images/aboutus.jpg" class="img-fluid about" alt="coffee tools" />
      </div>
      <p class="fs-5 my-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia, adipisci nostrum sunt aliquid facere numquam totam voluptas accusantium, in voluptatem fugiat beatae laboriosam, debitis quae sint fugit. Quas, iste?Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Voluptates explicabo amet sunt aperiam dolores dolore rerum tempore magnam excepturi doloribus esse, unde suscipit beatae soluta. Dolorem distinctio dignissimos veritatis nesciunt.
      </p>
    </div>
  </div>
</section>
