<% layout('layouts/boilerplate') %> 

<!-- Header -->
<header>
  <div class="container d-flex h-100 align-items-center">
    <!-- Welcome Text -->
    <div class="mx-auto text-center slogan">
      <!-- Cafe Name -->
      <h1 class="mx-auto my-0 display-2">Fictional Cafe</h1>
      <!-- Cafe Slogan -->
      <p class="fs-4">Take a sip and let your imagination run wild.</p>
    </div>
  </div>
</header>
