<% layout('layouts/boilerplate') %> 

<!-- Menu -->
<section class="container py-5">
  <!-- Menu Container -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card Layout -->
    <div class="col">
      <!-- Card -->
      <div class="card bg-dark">
        <img src="/images/latte.jpg" class="img-fluid" alt="latte" />
        <div class="card-body text-center text-white">
          <p class="fs-3">Latte</p>
          <p class="card-text">Caffe latte is a coffee drink made with espresso and steamed milk.</p>
          <p class="card-text">$5</p>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card bg-dark">
        <img src="/images/cappu.jpg" class="img-fluid" alt="Cappuccino" />
        <div class="card-body text-center text-white">
          <p class="fs-3">Cappuccino</p>
          <p class="card-text">Cappuccino is prepared with steamed milk foam.</p>
          <p class="card-text">$5</p>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card bg-dark">
        <img src="/images/tea.jpg" class="img-fluid" alt="coffee" />
        <div class="card-body text-center text-white">
          <p class="fs-3">Coffee</p>
          <p class="card-text">Dried coffee seeds are roasted until desired flavor</p>
          <p class="card-text">$5</p>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card bg-dark">
        <img src="/images/brownie.jpg" class="img-fluid" alt="frap" />
        <div class="card-body text-center text-white">
          <p class="fs-3">Brownie</p>
          <p class="card-text">Soft chocolate brownie made with Oreos.</p>
          <p class="card-text">$5</p>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card bg-dark">
        <img src="/images/eggtoast.jpg" class="img-fluid" alt="egg toast" />
        <div class="card-body text-center text-white">
          <p class="fs-3">Egg Toast</p>
          <p class="card-text">Egg served on Toast with Guacamole.</p>
          <p class="card-text">$5</p>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card bg-dark">
        <img src="/images/cake.jpg" class="img-fluid" alt="frap" />
        <div class="card-body text-center text-white">
          <p class="fs-3">Cake</p>
          <p class="card-text">Tasty chocolate cake with hot fudge.</p>
          <p class="card-text">$5</p>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
