@import "menu.css";
@import "about.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  height: 100%;
  background-color: black;
}

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("/images/cafe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  color: rgb(221, 213, 213);
}

.navbar-brand i {
  padding-left: 10px;
}

i {
  color: gray;
}

i:hover {
  color: white;
}
