body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("css/images/cafe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 18rem;
  border-radius: 8px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.btn {
  background-color: gray;
  color: white;
}

.navbar-brand i {
  padding-left: 10px;
}

i {
  color: gray;
}

i:hover {
  color: white;
}
